:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --main-light: #FFFFFF;
    --logo-color: #000000;
    --btn-color: #188CE8;
    --header-border: #ECECEC;
    --border-color: #EEEEEE;

    --primary-background: #F5F4FA;
    --secondary-background: #2F303A;
    --title-size: 36px;
    --text-size: 14px;
}

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

/* Common */

body {
    font-family: var(--primary-font);
    font-size: var(--text-size);
    letter-spacing: 0.03em;

    background-color: var(--primary-background);
    color: var(--primary-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus,
.lik:active {
    color: var(--accent-color);
}

.button {
    border: none;
    cursor: pointer;
}


/* Header */

.header {
    border-bottom: 1px solid var(--header-border);
    background-color: var(--main-light);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.page-header {
    display: flex;
}

.nav, .contact-list {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--logo-color);
}

.logo-text {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-item {
    
}

.nav-list .nav-item + .nav-item {
    margin-left: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--primary-color);
}

.current {
    color: var(--accent-color);
}

.contact-list {
    margin-left: auto;
}

.contact-list .contact-item + .contact-item {
    margin-left: 50px;
}

.contact-item {

}

.contact-link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--secondary-color);
}

/* Hero section*/
.section {
    padding: 94px 0;
}

.hero {
    padding: 200px 0;
    text-align: center;

    background-color: var(--secondary-background);
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    white-space: pre-line;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;

    color: var(--main-light);
}

.hero-btn {
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--main-light);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-color);
}

/* About section */

.about {
    background-color: var(--main-light);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-list {
    display: flex;
}

.about-item {
    width: calc((100% - 90px) / 4);
}

.about-list .about-item + .about-item {
    margin-left: 30px;
}

.about-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: var(--text-size);
    line-height: 1.1;
    text-transform: uppercase;
}

.about-text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.7;

    color: var(--secondary-color);
}

/* Wedo section */

.wedo {
    padding-top: 0;

    background-color: var(--main-light);
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    font-size: var(--title-size);
    line-height: 1.2;
}

.wedo-list {
    display: flex;
}

.wedo-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.wedo-item:last-child {
    margin-right: 0;
}

.wedo-img {
    
}

/* Team section */

.team-list {
    display: flex;
    text-align: center;
}

.team-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    background-color: var(--main-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
    margin-right: 0;
}

.team-img {
    
}

.team-card-wrapper {
    padding: 30px 0;
}

.team-name {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team-profession {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.2;

    color: var(--secondary-color);
}

/* Portfolio section */

.portfolio {
    background-color: var(--main-light);
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
    margin-left: 8px;
}

.filter-btn {
    padding: 6px 22px;

    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    
    color: var(--primary-color);
    border-radius: 4px;
}

.current-btn {
    color: var(--main-light);
    background-color: var(--accent-color);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    color: var(--main-light);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 60px) / 3); 
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: var(--main-light);
    border: 1px solid var(--border-color);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-img {
    
}

.portfolio-card-wrapper {
    padding: 20px 24px 20px 24px;
}

.portfolio-subtitle {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--primary-color);
}

.portfolio-text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.9;

    color: var(--secondary-color);
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-background);
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--main-light);
}

.footer-text {
    color: var(--accent-color);
}

.address {
    margin-top: 20px;
}

.address-item {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0;
}

.address-contact {
    text-decoration: none;
}

.first>a {
    opacity: 1;
}

.address-contact {
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    
    color: var(--main-light);
    opacity: .6;
}